.App {
	font-family: sans-serif;
	text-align: center;
}

div {
	background-color: rgb(162, 127, 243);
	padding: 40px;
	text-align: center;
	/* text-align: center,left,right,jstify; */
}

h1 {
	color: white;
	background-color: #2efe2e;
	padding: 10px;
	font-family: 굴림;
}

Props {
	text-align: left;
}
